* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #eaf6ff;
}

/* Main container */

.todo-container {
    width: 550px;
    background: white;

    padding: 60px 28px;

    border-radius: 15px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* Heading */

h1 {
    text-align: center;

    font-size: 46px;

    margin-bottom: 32px;

    color: #111;
}

/* Input */

.input-area {
    display: flex;
    gap: 14px;

    margin-bottom: 20px;
}

.input-area input {
    flex: 1;

    height: 56px;

    padding: 0 16px;

    font-size: 18px;

    border: 1px solid #888;

    border-radius: 3px;

    outline: none;
}

.input-area input:focus {
    border-color: #5ba9e6;
}

.input-area button {
    width: 68px;

    height: 56px;

    background: white;

    border: 1px solid #888;

    border-radius: 3px;

    font-size: 17px;

    cursor: pointer;
}

.input-area button:hover {
    background: #eef8ff;
}

/* Filter buttons */

.filters {
    display: flex;
    justify-content: space-between;

    margin-bottom: 23px;
}

.filters button {
    height: 55px;

    padding: 0 17px;

    background: white;

    border: 1px solid #999;

    border-radius: 3px;

    font-size: 17px;

    cursor: pointer;
}

.filters button:hover {
    background: #eef8ff;
}

/* Task list */

#todoList {
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 14px;
}

/* Task row */

#todoList li {
    min-height: 88px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 14px;

    background: #f0f0f0;

    font-size: 20px;
}

/* Task text */

.task-text {
    flex: 1;

    color: #111;

    font-size: 20px;
}

/* Completed task */

#todoList li.completed .task-text {
    text-decoration: line-through;

    color: #666;
}

/* Action buttons */

.task-actions {
    display: flex;

    gap: 5px;
}

.task-actions button {
    width: 50px;
    height: 60px;

    background: #f7f7f7;

    border: 1px solid #aaa;

    border-radius: 3px;

    font-size: 25px;

    cursor: pointer;
}

/* Check */

.complete-btn {
    color: #111;
}

/* Edit */

.edit-btn {
    color: #111;
}

/* Delete */

.delete-btn {
    color: #ff7fa8;
}

.task-actions button:hover {
    background: white;
}

/* Mobile */

@media (max-width: 600px) {

    .todo-container {
        width: 92%;
        padding: 40px 20px;
    }

    h1 {
        font-size: 38px;
    }

    .input-area input {
        font-size: 16px;
    }

    .filters button {
        padding: 0 12px;
        font-size: 15px;
    }

    #todoList li {
        font-size: 17px;
    }

    .task-text {
        font-size: 17px;
    }

    .task-actions button {
        width: 40px;
        height: 50px;
        font-size: 20px;
    }
}
